/* 381 of 3978 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/

 @charset "UTF-8";
 @import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700&subset=arabic');

/* * {
  direction: rtl !important;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    direction:rtl;
}

body, button {
  font-family: "Cairo", sans-serif !important;
}

caption,
th,
td {
    text-align: right;
}

/* .slick-track {
    right: 0;
} */

/* .slick-slide {
    float: right;
} */

/* [dir='rtl'] .slick-slide {
    float: left;
} */

.flickity-prev-next-button.previous {
    right: 10px;
}

.flickity-prev-next-button.next {
    left: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
    right: 0;
    left: unset;
}

.flickity-rtl .flickity-prev-next-button.next {
    left: 0;
    right: unset
}

.flickity-rtl .flickity-page-dots {
    direction: ltr;
}

.mfp-bg {
    right: 0;
}

.mfp-wrap {
    right: 0;
}

.mfp-container {
    right: 0;
}

.mfp-content {
    text-align: right;
}

.mfp-preloader {
    right: 8px;
    left: 8px;
}

.mfp-close {
    left: 0;
    padding: 0 10px 18px 0;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    left: -6px;
    text-align: left;
    padding-left: 6px;
}

.mfp-counter {
    left: 0;
}

/* .mfp-arrow:before {
    right: 0;
    margin-right: 35px;
}

.mfp-arrow:after {
    right: 0;
    margin-right: 35px;
}

.mfp-arrow-left {
    right: 0;
}

.mfp-arrow-left:after {
    border-left: 17px solid #FFF;
    margin-right: 31px;
}

.mfp-arrow-left:before {
    margin-right: 25px;
    border-left: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    left: 0;
}

.mfp-arrow-right:after {
    border-right: 17px solid #FFF;
    margin-right: 39px;
}

.mfp-arrow-right:before {
    border-right: 27px solid #3F3F3F;
} */

.mfp-iframe-scaler iframe {
    right: 0;
}

.mfp-figure:after {
    right: 0;
    left: 0;
}

.mfp-bottom-bar {
    right: 0;
}

.mfp-title {
    text-align: right;
    padding-left: 36px;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-right: 0;
        padding-left: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        margin-right: 5px;
    }

    .mfp-img-mobile .mfp-counter {
        left: 5px;
    }

    .mfp-img-mobile .mfp-close {
        left: 0;
    }

}

@media all and (max-width: 900px) {
    .mfp-container {
        padding-right: 6px;
        padding-left: 6px;
    }

}

.chosen-container .chosen-single .group-name,
.chosen-container .search-choice .group-name {
    margin-left: 4px;
}

.chosen-container .chosen-single .group-name:after,
.chosen-container .search-choice .group-name:after {
    padding-right: 2px;
}

.chosen-container-single .chosen-single {
    padding: 0 8px 0 0;
    background: linear-gradient(#fff 80% #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
}

.chosen-container-single .chosen-single span {
    margin-left: 26px;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-left: 38px;
}

.chosen-container-single .chosen-single abbr {
    left: 26px;
    background: url(chosen-sprite.png) right -42px 1px no-repeat;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: right -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right -42px -10px;
}

.chosen-container-single .chosen-single div {
    left: 0;
}

.chosen-container-single .chosen-single div b {
    background: url(chosen-sprite.png) no-repeat right 2px;
}

.chosen-container-single .chosen-search input[type=text] {
    padding: 4px 5px 4px 20px;
    background: url(chosen-sprite.png) no-repeat 0% -20px;
}

.chosen-container-single .chosen-drop {
    border-radius: 0 0 4px 4px;
}

.chosen-container .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chosen-container .chosen-results li.group-option {
    padding-right: 15px;
}

.chosen-container-multi .chosen-choices li {
    float: right;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    background: right 0 !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 0 3px 5px;
    padding: 3px 5px 3px 20px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    left: 3px;
    background: url(chosen-sprite.png) right -42px 1px no-repeat;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: right -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-left: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: right -42px -10px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
    background: right 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: right -18px 2px;
}

.chosen-rtl {
    text-align: left;
}

.chosen-rtl .chosen-single {
    padding: 0 0 0 8px;
}

.chosen-rtl .chosen-single span {
    margin-left: 0;
    margin-right: 26px;
    direction: ltr;
}

.chosen-rtl .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-rtl .chosen-single div {
    left: auto;
    right: 3px;
}

.chosen-rtl .chosen-single abbr {
    left: auto;
    right: 26px;
}

.chosen-rtl .chosen-choices li {
    float: left;
}

.chosen-rtl .chosen-choices li.search-field input[type=text] {
    direction: ltr;
}

.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 0 3px 5px;
    padding: 3px 19px 3px 5px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    left: auto;
    right: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
}

.chosen-rtl .chosen-results li.group-option {
    padding-left: 15px;
    padding-right: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
}

.chosen-rtl .chosen-search input[type=text] {
    padding: 4px 20px 4px 5px;
    background: url(chosen-sprite.png) no-repeat right -30px -20px;
    direction: ltr;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: right 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: right -12px 2px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 602px) {
    #header {
        right: 0;
    }

    #header .container .logo .nav_toggle {
        margin-left: 10px;
    }

    #header .container .right>.dropdown {
        margin-left: 0px;
    }

    .main_nav .container .nav_toggle {
        margin-left: 10px;
    }

    #footer .need_help .container .social_media {
        margin-right: 0;
    }

    #footer footer .bottom_section .social_media {
        margin-right: 0;
    }

    .main_content .line_separator.full_width {
        right: 0 !important;
        margin-right: -15px;
        margin-left: -15px;
    }

    .order_steps:before {
        right: 20px;
    }

    .order_steps div {
        text-align: right !important;
    }

    .order_steps div span {
        margin-left: 10px !important;
    }

    .order_steps div.done:before {
        right: 20px;
    }

    .card_details .card_info .head {
        border-left: 1px solid #ddd;
        padding-left: 10px;
    }

    .card_details .card_info .body {
        padding-right: 10px;
    }

}

div.globalWrapper {
    right: 0;
}

div.globalWrapper:before {
    right: 0;
    left: 0;
}

div.globalWrapper.active {
    right: 250px;
}

.mIcon {
    direction: rtl;
}

/* .slick-arrow,
.flickity-button {
    left: 15px;
} */

/* .slick-arrow.slick-prev,
.flickity-button.slick-prev {
    right: 15px;
    left: inherit;
} */

.flex .right {
    margin-right: auto;
}

.flex .left {
    margin-left: auto;
}

.space_l {
    margin-right: 5px;
}

.space_r {
    margin-left: 5px;
}

.space_r_10 {
    margin-left: 10px;
}

dl dt,
dl dd {
    float: right;
}

.rating p {
    margin-left: 10px;
}

.pull-right {
    float: left;
}

.pull-left {
    float: right;
}

.title_number {
    margin-left: 10px;
}

.side_nav {
    right: -250px;
}

.side_nav nav li a svg {
    margin-left: 10px;
}

.side_nav nav li.dropdown>a:after {
    margin-right: auto;
    margin-left: 0;
}

@media (max-width: 1000px) {
    /* .banner .container .slider_container {
        margin-left: 0;
    } */

    #header .container .logo .nav_toggle {
        margin-left: 15px;
    }

    .main_nav .container .nav_toggle {
        margin-left: 15px;
    }

    .product_details .left {
        margin-left: 0;
    }

    .product_details .center {
        margin-left: 0;
    }

    .product_details .center>h3 {
        right: 30px;
        left: 30px;
    }

    .combined .products {
        margin-left: 0;
    }

    .main_with_sidebar aside {
        margin: 0 0 0px 0;
    }

    .main_with_sidebar .toggle_filter {
        left: 15px;
    }

    /* .main_with_sidebar .filter_results {
        right: -15px;
    } */

    .account_settings nav ul li a i {
        margin-left: 0;
    }

}

.banner .container .slider_container {
    margin-right: unset;
    margin-left: 20px;
}
/* 
.banner .container .slider_container .slick-dots {
    right: 50%;
} */

.promo-boxes .user-info a {
    margin-left: 10px;
}

/* .categories.carousel .flickity-slider>div {
    margin-left: 20px;
}

.categories.carousel .flickity-slider>div:last-child {
    margin-left: 0;
} */

/* .categories.carousel .flickity-button {
    left: 0;
}

.categories.carousel .flickity-button.previous {
    right: 0;
} */

@media (max-width: 320px) {
    #header .container .right .store .dropdown .dropdown_menu {
        left: -30px;
    }

}

.offers div p {
    padding: 15px 30px 15px 15px;
    right: 0;
    left: 0;
}

.products>div figure .discount {
    right: 0;
}

.products > div figure {
  margin: 0px 0 10px -10px !important;
}

.products>div .price .before span:last-child {
    margin-right: 5px;
}

.products>div .price .after {
    margin: 10px 0 0 0;
}

.products>div .price .after span {
    margin-left: 5px;
    margin-right: unset;
}

.products>div .price .after img {
    margin-right: auto;
    margin-left: unset;
}

.products.carousel .flickity-viewport {
    padding-right: 10px;
    padding-left: 10px;
}

.products.carousel .flickity-slider>div {
    margin-right: unset;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .side_boxes.line_through>div {
        margin-left: 15px;
    }

    .side_boxes.line_through>div:last-child {
        margin-left: 0;
    }

    .account_settings nav ul li a i {
        margin-left: 10px;
    }

    .card_details .card_info .body {
        padding-right: 30px;
        padding-left: 0;
    }

}

.products.carousel .flickity-button {
    left: 0;
}

.products.carousel .flickity-button.previous {
    right: 0;
    left: unset;
}

.products.carousel .flickity-button.slick-prev {
    right: 0;
}

.products .badge {
    right: 0px;
    margin: 0px 0px 0px 5px;
    float: right;
}

#header {
  font-size: 16px;
}

#header a:hover {
  opacity: 0.5 ;
}

#header .container .logo {
    margin-left: auto;
}

#header .container .logo .nav_toggle {
    margin-left: 30px;
}

#header .container .search .dropdown>a {
    margin-right: auto;
}

#header .container .search .dropdown .dropdown_menu {
    left: 0;
}

#header .container .search .dropdown .dropdown_menu button {
    left: 30px;
}

#header .container .search button {
    background: right;
    left: 15px;
    right: unset;
}

#header .container .right {
    margin-right: auto;
}

#header .container .right>.dropdown {
    margin-left: 15px;
}

#header .container .right>.dropdown>a>img {
    margin-left: 5px;
}

#header .container .right>.dropdown>a .caret {
    margin-right: 5px;
}

#header .container .right .user {
    margin-left: 15px;
}

#header .container .right .user .dropdown .dropdown_menu {
    left: 0;
    right: inherit;
}

#header .container .right .user .dropdown>a .caret img {
    margin-right: 10px;
}

#header .container .right .store .dropdown .dropdown_menu {
    left: 0;
    right: inherit;
}

#header .container .right .store .dropdown>a .shop img {
    margin-right: 10px;
}

#header .container .right>div:not(.user):not(.dropdown):not(.store) {
    margin-right: 20px;
}

#header .container .right>div:not(.user):not(.dropdown):not(.store) .cart_number {
    left: -5px;
    right: unset;
    padding-top: 0;
}

.main_nav .container .nav_toggle {
    margin-left: 30px;
}

.main_nav .container>ul>li>a svg {
    margin-left: 10px;
}

.main_nav .container .category-dropdown {
    right: 0;
}

.main_nav .container .category-dropdown .right {
    padding-right: 20px;
}

#footer .need_help .container .social_media {
    margin-right: auto;
}

@media (max-width: 375px) {
    .help_categories .categories>div figure img {
        margin-left: 15px;
    }

    .help_categories .categories>div h5 {
        text-align: right;
    }

    .shipment_price {
        text-align: right;
    }

    .shipment_price dl dd {
        clear: right;
    }

}

#footer footer .bottom_section .language .dropdown>a>svg {
    margin-left: 10px;
}

#footer footer .bottom_section .language .dropdown>a .caret {
    margin-right: 5px;
}

#footer footer .bottom_section .social_media {
    margin-right: auto;
}

#footer footer .bottom_section .social_media span {
    margin-left: 10px;
}

#footer footer .bottom_section .social_media ul a {
    margin-right: 10px;
}

div.breadcrumb .form_inline {
    margin-right: auto;
    margin-left: 0;
}

.product_details>div {
    margin-left: 30px;
}

.product_details .left .slider_for .slick-arrow {
    right: 0;
    left: unset;
}
.product_details .left .slider_for .slick-arrow.slick-prev {
  left: 0;
  right: unset;
}

.product_details .left .slider_for *,
.product_details .left .slider_nav * {
  direction: ltr !important;
}


/* .product_details .left .slider_nav .slick-slide {
  margin-left: 10px;
  margin-right: unset;
  float: right;
} */

.product_details .left .slider_nav .slick-slide:last-child {
    margin-left: 0;
}

.product_details .left .gallery-item:before {
    right: 1px;
    left: unset;
}

.product_details .center .other_details .price .before .discount_value {
    margin-right: 10px;
}

.product_details .center .other_details .actions {
  direction: ltr !important;
  /* margin-right: auto;
  margin-left: unset; */
}

.other_details {
    direction: ltr;
}

.product_details .center .other_details .actions button.save i {
    margin-left: 10px;
}

.product_details .center .share span {
    margin-left: 10px;
}

.product_details .center .share .social a {
    margin-left: 5px;
}

.product_details .center .share .social a:last-child {
    margin-left: 0;
}

.product_details .right {
    margin-left: 0;
}

.product_details .right .pay_features div img {
    margin-left: 15px;
}

.product_details {
  direction: ltr !important;
}

.combined .products {
    margin-left: 30px;
}

.checkbox label:not(.error):before {
    margin-left: 10px;
    margin-right: unset;
}

.checkbox label:not(.error):after {
    right: 5px;
}

.checkbox.inline+.inline {
    margin-right: 15px;
}

.checkbox label.error {
    margin-left: 15px;
}

.radio label:not(.error):before {
    margin-left: 10px;
}

.radio label:not(.error):after {
    right: 5px;
}

.radio.inline+.inline {
    margin-right: 20px;
}

.radio label.error {
    margin-left: 15px;
}

.custom_field label:not(.error) {
    right: 20px;
}

.custom_field i {
    right: 20px;
    margin-right: -35px;
}

.custom_field label.error {
    left: 10px;
}

.custom_field select.custom_input {
    background: url("../images/select_arrow.png") no-repeat left 20px center;
}

.custom_field select.custom_input~label.error {
    left: 50px;
}

.custom_field select.custom_input.small {
    background-position: left 10px center;
}

.custom_input.styled {
    padding-right: 42px;
}

.custom_input.styled:focus~label:not(.error) {
    right: 50px;
}

.custom_input.styled:focus~i {
    margin-right: 0;
}

.custom_input.styled.input_filled~label:not(.error) {
    right: 50px;
}

.custom_input.styled.input_filled~i {
    margin-right: 0;
}

.custom_input.styled.no_icon {
    padding-right: 20px;
}

.form_inline .custom_field input {
    border-radius: 0 4px 4px 0;
}

.form_inline .custom_field .btn {
    border-radius: 4px 0 0 4px;
}

.form_inline.small .custom_field input {
    padding-right: 10px !important;
}

.irs-line-left {
    right: 0;
}

.irs-line-mid {
    right: 9%;
}

.irs-line-right {
    left: 0;
}

.irs-bar {
    right: 0;
    background: linear-gradient(to top, #e17242 100% #e17242 100%);
}

.irs-bar-edge {
    right: 0;
    border-left: 0;
    background: linear-gradient(to top, #e17242 100% #e17242 100%);
    border-radius: 0 16px 16px 0;
}

.irs-shadow {
    right: 0;
}

.irs-min {
    right: 0;
}

.irs-max {
    left: 0;
}

.irs-from,
.irs-to,
.irs-single {
    right: 0;
}

.irs-grid {
    right: 0;
}

.irs-grid-pol {
    right: 0;
}

.irs-grid-text {
    right: 0;
}

.irs-disable-mask {
    right: -1%;
}

.irs-hidden-input {
    right: 0 !important;
}

.btn.has_icon i {
    margin-left: 5px;
}

.btn.market_button i {
    margin-left: 20px;
}

.btn.market_button span {
    text-align: right;
}

.btn.btn_underlined:before {
    right: 0;
    left: 0;
}

.btn.btn_underlined:after {
    right: 0;
    left: 0;
}

.btn.icon_right i {
    margin-right: 10px;
}

.btn.icon_left i {
    margin-left: 10px;
}

.button_group .btn {
    float: left;
}

.button_group .btn+.btn {
    margin-left: 10px;
}

.tabs .tab_links ul li:last-child {
    border-left: 0;
}

.tabs .tab_body .filter_links ul li:last-child {
    border-left: 0;
}

.dropdown .dropdown_menu {
    right: 0;
    left: unset;
}

.dropdown .dropdown_menu.mega_menu {
    right: 15px;
    left: 15px;
}

.main_content blockquote {
    border-right: 5px solid #e17242;
}

.main_content .list li {
    padding-right: 20px;
}

.main_content .list li:before {
    float: right;
    margin-right: -20px;
    margin-left: 10px;
}

.main_content .accordion h3.active {
    border-radius: 8px 8px 0 0;
}

.main_content .accordion .content>div {
    border-radius: 0 0 8px 8px;
}

.main_content .accordion.with_icon h3:before {
    margin-left: 20px;
}

.main_content .chosen-container-multi .chosen-choices {
    background: white url("../images/select_arrow.png") left 20px center no-repeat;
    padding: 0 20px 0 50px;
}

.main_content .chosen-container-multi .chosen-choices li.search-choice {
    padding: 6px 5px 6px 20px;
    margin-left: 5px;
}

.main_content .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url(../images/chosen-sprite.png) right -42px 1px no-repeat;
}

.main_content .chosen-container .chzn-results li {
    text-align: right;
}

.main_content .boxes>div img {
    right: 0;
}

.main_content .boxes.content_on_right .details {
    margin-right: auto;
}

.main_content .boxes.content_center>div:before {
    right: 0;
    left: 0;
}

.main_content .boxes.content_center>div .details {
    right: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.list_inline li a {
    border-left: 1px solid #dddddd;
    margin-left: 5px;
    padding-left: 8px;
}

.list_inline li:last-child a {
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
}

.filters .sorting {
    margin-right: auto;
    margin-left: unset;
}

.filters .sorting span {
    margin-left: 15px;
}

.filters .sorting select {
    background: #fcfcfc /* url("../images/caret.svg") no-repeat left 10px center */;
}

.main_with_sidebar aside {
    margin-left: 40px;
}

.main_with_sidebar aside .block .choices .ch-count {
    margin-right: auto;
}

.main_with_sidebar.right aside {
    margin-left: 0;
    margin-right: 40px;
}

.main_with_sidebar .filter_results .close {
    left: 15px;
    right: unset;
}

.page_header.with_image .container .details {
    text-align: right;
}

.page_header.with_image .container .details ul li a {
    border-left: 1px solid #dddddd;
    margin-left: 5px;
    padding-left: 8px;
}

.page_header.with_image .container .details ul li:last-child a {
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
}

.help_categories .categories>div {
    margin-left: -1px;
}

.help_categories .categories>div:last-child {
    margin-left: 0;
    border-left: 0;
}

.side_boxes.line_through>div:before {
    right: 10%;
    left: 10%;
}

.account_settings .user .icon {
    margin-left: 15px;
}

.account_settings nav li a i {
    margin-left: 15px;
}

.order_steps:before {
    right: 0;
}

.order_steps div.done:before {
    right: 0;
}

.order_steps div.active:before {
    right: 0;
}

.order_steps div:first-child {
    text-align: left;
}

.order_steps div:first-child span {
    margin-left: 0;
}

.order_steps div:first-child.done:after {
    left: 0;
}

.order_steps div:last-child {
    text-align: right;
}

.order_steps div:last-child span {
    margin-right: 0;
}

.order_steps div:last-child.active:after,
.order_steps div:last-child.done:after {
    left: 0;
}

.card_details .head {
    border-radius: 4px 4px 0 0;
}

.card_details .body>div.card img {
    margin-left: 10px;
}

.card_details .body>div.cvc img {
    margin-left: 10px;
}

/* .card_details .installment_plans .flickity-slider>div a {
    margin: 0 0 0 20px;
} */

.cart .items li .img img {
    margin-left: 10px;
}

.cart dd {
    float: left;
}

.shipment_details {
    margin-left: -30px;
    margin-right: -30px;
}

.shipment_items>div .image img {
    margin-left: 15px;
}

.shipment_items.has_feedback>div .item_feedback {
    margin-right: 30px;
}

.shipment_price {
    text-align: left;
}

.shipment_price dl {
    margin-left: 0;
    margin-right: auto;
}

.shipment_price dl dt {
    margin-left: 30px;
}

.modal {
    right: 0;
}

.modal .modal-content .close {
    float: left;
}

.products > div .price .after img {
  margin-right: auto;
}

/* .dropdown .dropdown_menu li a:hover,
.dropdown .dropdown_menu li a:focus {
    background-color: rgb(11, 44, 78);
} */

.store .text {
  margin-top: 0px;
}

button.mfp-close, button.mfp-arrow {
  font-family: "Material-Design-Iconic-Font" !important;
}

.mfp-arrow-left:before {
  margin-left: 60px;
}

.breadcrumb li:after {
  content: "\f2fa";
}